<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--Sökväg till rootmappen för alla bilder-->
		<add key="pathToFiles" value="C:\Users\linus\LNU\2dv50e\images"/>

		<!--Sensorvidden på kameran i drönaren, ange storleken i millimeter, exempel: M2P "13,2" M2 "6,3"-->
		<add key="sensorWidth" value="13,2"/>

		<!--Värde i procent över hur mycket överlapp bilder ska ha för att tillhöra samma ortofoto-->
		<add key="overlapPercentage" value="50"/>

		<!--Anger om sökning av bilder även ska ske i undermappar, ange true för rekursiv sökning, false för endast rootmapp.-->
		<add key="searchRecursive" value="true"/>
		
		<!--Anger max antal sekunder som är tillåtet mellan bilder inom en och samma batch, anges i hela sekunder-->
		<add key="maxSecondsBetweenImages" value="2900"/>

		<!--Anger vilka filtyper som ska hanteras av programmet (exempel: "jpg,jpeg"-->
		<add key="filter" value="jpg,jpeg"/>
	</appSettings>
</configuration>